@model IEnumerable<CleanArchitecture.Core.Entities.Customer>

@{
    ViewData["Title"] = "Lista de Clientes Cadastrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-md-6 text-center">
        <h2>Lista de Clientes</h2>
        @foreach (var user in Model)
        {
            <div class="row bordered-box">
                <h1>@user.Name</h1>
                <ul>
                    <li>ID: @user.Id</li>
                    <li>Organização: @user.Org_Name</li>
                    <li>ID da Organização: @user.Company_Id</li>
                    <li>Ativo:@(user.Active_Flag ? "Sim" : "Não")</li>
                    @if (user.Email != null)
                    {
                        @foreach (var mail in user.Email)
                        {
                            <li>E-mail: @mail.Value</li>
                        }
                    }
                    @if (user.Phone != null)
                    {
                        @foreach (var phone in user.Phone)
                        {
                            <li>Telefone: @phone.Value</li>
                        }
                    }
                </ul>
                <hr />
                <p>@user.Description</p>
                <div class="text-center">
                    <a class="btn btn-primary" href="./Users/@user.Id/edit">Editar</a>
                    <a class="btn btn-danger" href="./Users/@user.Id/delete">Excluir</a>
                </div>
                <br />
            </div>
            <hr />
        }
        <a class="btn btn-primary" asp-controller="Users" asp-action="New">Cadastrar Novo Cliente</a>
    </div>
    <div class="col-lg-3"></div>
</div>
